*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}

ul,
ol,
li {
	list-style: none;
}

.wrapper {
	background-image: url('https://images.unsplash.com/photo-1593435713463-e8bf5bea9786?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
	background-size: cover;
}


/*--------------header-------------------------------------------------- */
.header__menu {
	padding: 50px;
}

.menu__list {
	display: flex;
	justify-content: center;
	padding: 0;
}

.menu__item {
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 0 0 1px #1a110e;
}

.item__input {
	width: 150px;
	border: none;
	border-radius: 30px;
	color: #cf5a0c;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.item__input::placeholder {
	color: #cf5a0c;
	opacity: 0.4;
}

.item__input:focus {
	color: #cf5a0c;
	background-color: #fff;
	border-color: #bdbdbd;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

#item__button {
	display: inline-block;
	border: none;
	border-radius: 20px;
	color: #cf5a0c;
	font-size: 14px;
	letter-spacing: 4px;
	cursor: pointer;
	overflow: hidden;

}

.item__input:hover {
	border: none;
}

#item__button:hover {
	background-color: rgba(238, 206, 99, 0.404);
}

/*--------------container-------------------------------------------------- */

.container {
	padding-bottom: 100px;
	color: #835827;
	display: flex;
	font-size: 3rem;
}

.flip-card {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	box-shadow: 0 1px 2px rgb(0, 0, 0, .6);
	border-radius: .3em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
	height: .75em;
	line-height: 1;
	padding: .25em;
	overflow: hidden;
}

.top,
.flip-card .top-flip {
	background-color: #f7f7f7;
	border-top-right-radius: .1em;
	border-top-left-radius: .1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.bottom,
.flip-card .bottom-flip {
	background-color: #f7f7f7;
	display: flex;
	align-items: flex-end;
	border-bottom-right-radius: .1em;
	border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
	position: absolute;
	width: 100%;
	animation: flip-top 259ms ease-in;
	transform-origin: bottom;
}

@keyframes flip-top {
	100% {
		transform: rotateX(90deg);
	}
}

.flip-card .bottom-flip {
	position: absolute;
	bottom: 0;
	width: 100%;
	animation: flip-bottom 250ms ease-out 250ms;
	transform-origin: top;
	transform: rotateX(90deg);
}

@keyframes flip-bottom {
	100% {
		transform: rotateX(0deg);
	}
}

.container {
	display: flex;
	gap: .5em;
	justify-content: center;
}

.container-segment {
	display: flex;
	flex-direction: column;
	gap: .1em;
	align-items: center;
}

.segment {
	display: flex;
	gap: .1em;
}

.segment-title {
	font-size: 1rem;
}